@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
:root{
    --color-01: #fafafa;
    --color-02: #666666;
    --color-03: #000000;  
}
body{
    height: 100vh;
}
header{
    width: 100%;
    display: flex;
    height: 12vh;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}
.menu-header{
    display: flex;
    gap: 80px;
    align-items: center;
}
nav > ul{
    list-style: none;
    display: flex;
    gap: 20px;
    color: var(--color-02);
}
.menu-header > h2{
    font-size: 40px;
}
.btns-header > button{
    color: #666666;
}
.btns-header > .btn-login{
    height: 30px;
    width: 100px;
    background: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.btns-header > .btn-register{
    height: 40px;
    width: 100px;
    border: 1.6px solid var(--color-02);
    background: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-register:hover{
    background: none;
    font-weight: 700;
    color: var(--color-03);
    border: 2px solid var(--color-02);
    transition: 0.4s;
}
.menu-burger{
    display: none;
}
/********************************************/
main{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-text{
    padding: 40px 0px 50px 0px;
    max-width: 600px;
}
.content-text-box{
    margin: 60px 0px 0px 160px ;
}
.content-text-box > h1{
    font-size: 65px;
    font-weight: 700;
    margin: 40px 0px 30px 0px;
}
.content-text-box > p{
    max-width: 400px;
    text-align: justify;
    line-height: 20px;
    font-weight: 500;
    color: var(--color-02);
}
.section-image-box{
    height: 480px;
    width: 520px;
    background-image: url(images/image-hero-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px 0px 0px 100px;
}
/* .content-image > img{
    height: 520px;
    width: 100%;
    margin-left: 120px;
} */
.content-text-box > button{
    margin-top: 35px;
    height: 45px;
    width: 130px;
    background-color:  var(--color-03);
    border: none;
    color: var(--color-01);
    border-radius: 10px;
    cursor: pointer;
}
.content-text-box > button:hover{
    background: none;
    font-weight: 700;
    color: var(--color-03);
    border: 2px solid var(--color-02);
    transition: 1s;
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-box{
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 40px;
    max-width: 600px;
    margin-top: 80px;
}

@media(max-width: 710px){
    nav{
        display: none;
    }
    .btns-header{
        display: none;
    }
    .menu-burger{
        display: block;
    }
    .content-text{
        order: 2;
        width: 300px;
        text-align: center;
        margin: 0 auto;
        padding: 20px;
    }
    .content-text-box{
        margin: 0 auto;
        width: 100%;
    }
    .content-text-box > h1{
        font-size: 40px;
        width: 100%;
        margin: 40px 0px 10px 0px;
    }
    .footer-box{
        margin-top: 50px;
        gap: 20px;
    }
    .footer-box > img {
        height: 17px;
    }
    main{
        grid-template-columns: 1fr;
        padding: 10px 0px 0px 0px;
        gap: 10px;
    }
    .section-image-box{
        background-image: url(images/image-hero-mobile.png);
        background-size: cover;
        width: 100%;
        height: 350px;
        margin: 0;
    }
}